* {
  box-sizing: border-box;
}

body {
  /* max-width: 1440px; */
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* task-1 */

.list {
  display: flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.item {
  padding: 16px;
  width: 392px;
  border: none;
  background-color: #f6f6fe;
  border-radius: 8px;
}

.title {
  padding-bottom: 16px;
  font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.list-item {
  
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.items {
  padding: 8px 16px; 
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #2e2f42;
}

/* task-2 */

.gallery {
  margin: 100px 156px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px 24px;
  list-style: none;
}

/* task-3 */

.input {

  width: 360px;
    height: 40px;
    border: 1px solid #808080;
      border-radius: 4px;
      
      margin-top: 24px;
      margin-bottom: 16px;
      margin-left: 24px;
      padding: 16px;
      font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.title-input {
  display: flex;
  margin-left: 24px;
  font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

/* task-4 */

.login-form {
  margin: auto; 
  display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    gap: 8px;
  border-radius: 8px;
    padding: 24px;
    max-width: 408px;
    background: #fff;
}

.form-label {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 8px; */
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    gap: 8px;
}

.form-input {
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.btn {
  display: block;
  border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
}